# Intellij Idea project files
.idea
*.iml
*.ipr
*.iws

# Eclipse project files
.classpath
.project
.settings/

# gradle config
.gradle

# project binaries
build
out
classes
bin

# sonar
sonar-project.properties

# mac os x
.DS_Store

# netbeans
.nb-gradle
.nb-gradle-properties
